---
import { Icon } from "astro-icon";

const { projects, index } = Astro.props;
---

<div class={`relative group ${index === 0 && "col-span-full"}`}>
	<div
		class={`absolute -inset-0.5 bg-gradient-to-r from-${projects.pColor} to-${projects.sColor} rounded-lg blur opacity-70 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-tilt`}
	>
	</div>
	<a class="relative h-full flex flex-col pt-6 rounded-lg bg-black lg:pt-10" href={projects.href} target="_blank">
    <div class="flex gap-x-3 px-6 items-center mb-2 lg:gap-x-6 lg:px-8">
      <img src={projects.logo} alt={projects.alt} class="w-6 lg:w-10" />
      <h3 class="text-white text-2xl lg:text-4xl">{projects.name}</h3>
      {projects.status === "wip" && <Icon name="mdi:progress-wrench" class="w-6 text-gold lg:w-9" alt="Work in progress" /> }
    </div>
		<div class="grid grid-cols-[3fr_1fr] px-6 mt-2 mb-5 md:min-h-[305px] lg:px-10">
			<div class="flex flex-col">
				<div class="flex flex-col mt-3">
					<h4 class="text-white text-lg pb-3 md:text-[1.25rem] lg:text-3xl lg:pb-5">{projects.role}</h4>
					<div class="h-[1px] w-8 border-t-[1px] border-white border-dashed"></div>
					<p class="text-white text-md pt-3 md:text-lg lg:text-xl lg:pt-5 xl:text-2xl">{projects.description}</p>
				</div>
			</div>
			<div class="flex flex-col items-end gap-y-3 pt-6 md:gap-5">
				{projects.technologies?.map(({ logo, alt }) => <img src={logo} alt={alt} class="w-6 md:w-7" />)}
			</div>
		</div>
		<div
			class={`flex gap-x-2 border-t-[1px] border-gray-600 text-xl uppercase text-${projects.pColor} p-6 lg:gap-x-3 lg:px-10 lg:text-2xl xl:py-8 `}
		>
			<span class="group-hover:text-gray-100 transition duration-200">{projects.cta}</span>
			<Icon name="lucide:arrow-right-circle" class="w-6 group-hover:text-gray-100 group-hover:translate-x-1 transition duration-200 lg:w-7" />
		</div>
	</a>
</div>
